:root{
    --text-opacity: 1;
    --bg-opacity: 1;

    --primary-color: 54, 116, 181;
    --secondary-color: 87, 143, 202;
    --tertiary-color: 161, 227, 249;
    --quaternary-color: 209, 248, 239;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dark {
    color: rgba(var(--primary-color), var(--text-opacity));
    background-color: rgba(var(--quaternary-color), var(--bg-opacity));
}

body{
    display: grid;
    grid-template-rows: 1fr 10fr;

    padding: 24px;
    gap: 24px;

    font-weight: 100;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;

    max-height: 3rem;
}

#location{
    font-size: x-large;

    outline: none;
    width: 100%;
    margin-left: 20%;
    margin-right: 10%;
}

#toggle-temp-type{
    margin-right: auto;
}

main{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

hr{
    border: none;
    height: 2px;
    width: 100%;
    background-color: rgba(var(--secondary-color), 0.2);
}

main > hr {
    width: 35%;
}

.location-name{
    font-size: xx-large;
}

.temp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-temp{
    font-size: x-large;
}

.feels-like {
    font-size: medium;
    font-style: italic;
    color: rgba(var(--primary-color), 0.5);
    margin-top: 8px;
}

.description {
    font-size: large;
}

.weather-icon{
    max-width: 12rem;
    margin-bottom: 16px;
}

object[type="image/svg+xml"], img {
    filter: invert(100%);
    max-width: 100%;
    max-height: 100%;
}

.grabbable:hover{
    cursor: grab;
}

.grabbable > * {
    position: relative;
    z-index: -1;
}

.logo{
    border: none;
    background: none;
}

.large{
    min-width: 32px;
    min-height: 32px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    0% { opacity: 1; }
    50% { opacity: 0.6; }
    100% { opacity: 1; }
}

.fade {
    animation: fadeEffect 0.3s ease-in-out;
}

.celsius svg, .fahrenheit svg{
    transition: filter 0.5s ease-in-out;
}

.fahrenheit svg path{
    fill: var(--primary-color);
}

.celsius svg path{
    fill: var(--secondary-color);
}

.shadow{
    background-color: rgba(var(--tertiary-color), 0.4);
    border: 2px solid rgba(var(--tertiary-color), 0.8);
    border-radius: 4px;
}

input:-internal-autofill-selected{
    background-color: rgba(var(--tertiary-color), 0.4);
}